extends ../layouts/application.pug

block content
  h2.display-4.fw-bold.mt-4= t('views.users.edit.cardName')
  +formFor()(action= `/users/${data.id}` method='post')
    +input(data, 'email', errors, t('views.users.edit.email'))(type="text")
    +input(data, 'password', errors, t('views.users.edit.password'))(type="password")
    input(name="_method" type="hidden" value='patch')
    +submit(data)(value=t('views.users.edit.change'))

